Repository Azure/ALZ-Bicep, pull requests merged in 2022-07, with the labels that each got.

#276 Add MG Flexibility Feature & Intermediate Root MG Parent Flexibility
  .vscode/tours/E2Etesttour.tour
  infra-as-code/bicep/modules/managementGroups/README.md
  infra-as-code/bicep/modules/managementGroups/managementGroups.bicep
  infra-as-code/bicep/modules/managementGroups/parameters/managementGroups.parameters.all.json
  tests/pipelines/bicep-build-to-validate.yml
Labels: enhancement, Area: Management Groups

#280 Azure backup DNS zone geo code fix and docs
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/README.md
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.min.json
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
Labels: bug, enhancement, Area: Networking

#281 Implementation of correct output id, added example command for search on SPN name
  infra-as-code/bicep/modules/roleAssignments/README.md
Labels: Needs: Triage :mag:

#286 Various Docs Enhancements, Typo Fixes & Updates
  docs/wiki/AddingPolicyDefs.md
  docs/wiki/AssigningPolicies.md
  docs/wiki/PolicyDeepDive.md
  infra-as-code/bicep/modules/privateDnsZones/README.md
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
  infra-as-code/bicep/orchestration/hubPeeredSpoke/README.md
Labels: documentation, enhancement, Area: Policy, Area: Networking, Area: Orchestration Modules

#288 Update `Invoke-PolicyToBicep.ps1` Scripts to Handle `-`'s,` `'s (spaces) & `'` apostrophes + Fix #254
  .github/scripts/Invoke-PolicyToBicep-China.ps1
  .github/scripts/Invoke-PolicyToBicep.ps1
  .vscode/tours/upstreamPolicyUpdateProcess.tour
  docs/wiki/AddingPolicyDefs.md
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/_mc_policyAssignmentsBicepInput.txt
  infra-as-code/bicep/modules/policy/definitions/customPolicyDefinitions.bicep
  infra-as-code/bicep/modules/policy/definitions/lib/china/policy_definitions/_mc_policyDefinitionsBicepInput.txt
  infra-as-code/bicep/modules/policy/definitions/lib/china/policy_set_definitions/_mc_policySetDefinitionsBicepInput.txt
  infra-as-code/bicep/modules/policy/definitions/lib/policy_definitions/_policyDefinitionsBicepInput.txt
  infra-as-code/bicep/modules/policy/definitions/lib/policy_set_definitions/_policySetDefinitionsBicepInput.txt
  infra-as-code/bicep/modules/policy/definitions/mc-customPolicyDefinitions.bicep
Labels: bug, enhancement, Area: Policy

#293 Use latest API versions in all modules
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
  infra-as-code/bicep/modules/publicIp/publicIp.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentSubscription.bicep
  infra-as-code/bicep/modules/spokeNetworking/spokeNetworking.bicep
  infra-as-code/bicep/modules/vnetPeering/vnetPeering.bicep
  infra-as-code/bicep/modules/vnetPeeringVwan/hubVirtualNetworkConnection.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
  tests/pipelines/base-unit-validate.yml
  tests/pipelines/bicep-build-to-validate.yml
Labels: enhancement, hygiene, Area: Non-Resource Specific, external community contribution

#296 Update docs and PR template to close #247
  .github/PULL_REQUEST_TEMPLATE.md
  docs/wiki/Contributing.md
Labels: enhancement, hygiene
