Repository Azure/ALZ-Bicep, pull requests merged in 2022-05, with the labels that each got.

#229 Corrected some typo's, camelCasing inconsistency fixes and added defaults
  README.md
  infra-as-code/bicep/modules/spokeNetworking/README.md
  infra-as-code/bicep/modules/spokeNetworking/spokeNetworking.bicep
  infra-as-code/bicep/modules/spokeNetworking/spokeNetworking.parameters.example.json
Labels: documentation, Area: Networking

#230 SPN Guidance and Elevation - Feedback Issue 145
  docs/wiki/DeploymentFlow.md
Labels: documentation, enhancement

#231 Added tag property for virtualNetworks resource
  infra-as-code/bicep/modules/spokeNetworking/spokeNetworking.bicep
Labels: enhancement, Area: Networking, Area: Non-Resource Specific

#223 New Mini-Orchestration Module - hubPeeredSpoke
  docs/wiki/CustomerUsage.md
  infra-as-code/bicep/orchestration/hubPeeredSpoke/README.md
  infra-as-code/bicep/orchestration/hubPeeredSpoke/bicepconfig.json
  infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.bicep
  infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.parameters.example.json
  infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.vwan.parameters.example.json
  infra-as-code/bicep/orchestration/hubPeeredSpoke/media/bicepVisualizer.png
Labels: auto-merge :heavy_check_mark:, Area: Orchestration Modules, external community contribution

#232 Description updates, consistency usage of camelCasing (vnetPeering)
  infra-as-code/bicep/modules/vnetPeering/README.md
  infra-as-code/bicep/modules/vnetPeering/vnetPeering.bicep
  infra-as-code/bicep/modules/vnetPeering/vnetPeering.parameters.example.json
  infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.bicep
  tests/pipelines/bicep-build-to-validate.yml
Labels: Area: Networking, hygiene

#235 Add microsoft.com exclusion and increase timeout for Markdown Link Checker
  .github/actions-config/mlc_config.json
  docs/wiki/Home.md
Labels: bug, hygiene

#236 PSRule baseline and minium samples
  .github/workflows/bicep-build-to-validate.yml
  .ps-rule/Minimum.Rule.yaml
  .ps-rule/en/ALZ.MinimumSample.md
  .vscode/bicep.code-snippets
  .vscode/extensions.json
  infra-as-code/bicep/modules/hubNetworking/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/hubNetworking/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/publicIp/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/publicIp/samples/minimum.sample.bicep
  ps-rule.yaml
Labels: Needs: Triage :mag:

#238 Add v1.x.x Q&A to FAQ
  docs/wiki/FAQ.md
Labels: documentation, enhancement

#239 logging: parametrize workspace sku and resource specific tags
  infra-as-code/bicep/modules/logging/README.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/logging.parameters.example.json
  infra-as-code/bicep/modules/logging/mc-logging.parameters.example.json
Labels: bug, enhancement, Area: Logging & Automation, Area: Non-Resource Specific, external community contribution

#243 Add policy expansion guidance to wiki
  .vscode/tours/upstreamPolicyUpdateProcess.tour
  README.md
  docs/wiki/AddingPolicyDefs.md
  docs/wiki/AssigningPolicies.md
  docs/wiki/CodeTour.md
  docs/wiki/Home.md
  docs/wiki/PolicyDeepDive.md
  docs/wiki/_Sidebar.md
  docs/wiki/media/alzBicepPolicyUpdate1.PNG
  docs/wiki/media/alzBicepPolicyUpdate2.PNG
  docs/wiki/media/alzBicepPolicyUpdate3.PNG
  docs/wiki/media/alzBicepPolicyUpdate4.PNG
  docs/wiki/media/alzBicepPolicyUpdate5.PNG
  docs/wiki/media/alzBicepPolicyUpdate6.PNG
  docs/wiki/media/alzPolicyAzAdvertizer.png
  infra-as-code/bicep/modules/policy/assignments/README.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/README.md
  infra-as-code/bicep/modules/policy/definitions/README.md
Labels: documentation, enhancement, Needs: Triage :mag:, Area: Policy
