Repository Azure/ALZ-Bicep, pull requests merged in 2022-06, with the labels that each got.

#261 Fix ValidateAzCloud ADO pipeline
  tests/pipelines/base-unit-validate.yml
Labels: Needs: Triage :mag:

#264 Fix #262, #259, #248
  .github/workflows/code-review.yml
  docs/wiki/FAQ.md
  docs/wiki/media/alz-bicep-watch-demo.gif
  infra-as-code/bicep/modules/logging/README.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.min.json
  infra-as-code/bicep/modules/logging/parameters/mc-logging.parameters.all.json
  infra-as-code/bicep/modules/logging/parameters/mc-logging.parameters.min.json
Labels: documentation, enhancement, hygiene, Area: Logging & Automation

#266 Add NSG to AzureBastionSubnet - Fixing #240
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
Labels: enhancement, Area: Networking

#268 Add validation pipeline for mooncake
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/mc-Wipe-AlzTenant.ps1
  .vscode/tours/azurechinacloud-base-validation-pipeline.tour
  tests/pipelines/mc-base-unit-validate.yml
Labels: Needs: Triage :mag:, hygiene

#272 Remove subscription selection from hubPeeredSpoke module readme
  infra-as-code/bicep/orchestration/hubPeeredSpoke/README.md
Labels: bug, documentation, enhancement, Area: Orchestration Modules

#273 Add ALZ Resource Types Script and Update Workflow
  .github/scripts/Get-AlzBicepResourceTypes.ps1
  .github/workflows/bicep-build-to-validate.yml
Labels: enhancement, hygiene
