Repository Azure/ALZ-Bicep, pull requests merged in 2022-11, with the labels that each got.

#364 Support for groups as part of policy Initiatives
  .github/scripts/Invoke-PolicyToBicep-China.ps1
  .github/scripts/Invoke-PolicyToBicep.ps1
  infra-as-code/bicep/modules/policy/definitions/customPolicyDefinitions.bicep
  infra-as-code/bicep/modules/policy/definitions/mc-customPolicyDefinitions.bicep
Labels: Area: Policy

#363 Guidance Update - Policies to Built-In
  .github/scripts/Invoke-GitHubReleaseFetcher.ps1
  docs/wiki/PolicyDeepDive.md
  docs/wiki/media/alz-delete-policy-assign-01.png
  docs/wiki/media/alz-determine-policy-assign-01.png
  docs/wiki/media/alz-determine-policy-assign-02.png
  docs/wiki/media/alz-update-initiative-with-builtin-01.png
  docs/wiki/media/alz-update-initiative-with-builtin-02.png
  docs/wiki/media/alz-update-initiative-with-builtin-03.png
  docs/wiki/media/alz-update-initiative-with-builtin-04.png
  docs/wiki/media/alz-update-to-builtin-01.png
  docs/wiki/media/alzPolicyAzAdvertizer.png
Labels: documentation, enhancement

#312 Response to FRs - Issues #267 and #290 - POC in RG Name and Deployment Snippets
  infra-as-code/bicep/CRML/containerRegistry/README.md
  infra-as-code/bicep/CRML/subscriptionAlias/README.md
  infra-as-code/bicep/modules/customRoleDefinitions/README.md
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/logging/README.md
  infra-as-code/bicep/modules/managementGroups/README.md
  infra-as-code/bicep/modules/policy/assignments/README.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/README.md
  infra-as-code/bicep/modules/policy/definitions/README.md
  infra-as-code/bicep/modules/privateDnsZones/README.md
  infra-as-code/bicep/modules/roleAssignments/README.md
  infra-as-code/bicep/modules/spokeNetworking/README.md
  infra-as-code/bicep/modules/subscriptionPlacement/README.md
  infra-as-code/bicep/modules/vnetPeering/README.md
  infra-as-code/bicep/modules/vnetPeeringVwan/README.md
  infra-as-code/bicep/modules/vwanConnectivity/README.md
  infra-as-code/bicep/orchestration/hubPeeredSpoke/README.md
  infra-as-code/bicep/orchestration/subPlacementAll/README.md
Labels: documentation

#372 Change deployment scope for MG Diagnostics #338
  docs/wiki/DeploymentFlow.md
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/README.md
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/mgDiagSettingsAll.bicep
  tests/pipelines/base-unit-validate.yml
  tests/pipelines/bicep-build-to-validate.yml
  tests/pipelines/mc-base-unit-validate.yml
Labels: Area: Management Groups, Area: Logging & Automation, do not merge

#377 Feature: Add ability to exclude policy set/initiative child definitions for China policies
  .github/scripts/Invoke-PolicyToBicep-China.ps1
Labels: enhancement, Area: Policy

#380 Release `v0.11.0` prep
  version.json
Labels: enhancement, hygiene, Area: Non-Resource Specific

#355 16989: Add bicep sample code
  .ps-rule/DiagLogForAutomation.Rule.yaml
  .ps-rule/ManagedIdentityForAutomation.Rule.yaml
  infra-as-code/bicep/modules/customRoleDefinitions/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/customRoleDefinitions/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/hubNetworking/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/logging/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/logging/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/managementGroups/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/managementGroups/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/policy/samples/baseline.policy.sample.bicep
  infra-as-code/bicep/modules/policy/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/policy/samples/minimum.policy.sample.bicep
  infra-as-code/bicep/modules/policy/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/privateDnsZones/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/privateDnsZones/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/resourceGroup/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/resourceGroup/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/roleAssignments/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/roleAssignments/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/spokeNetworking/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/spokeNetworking/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/subscriptionPlacement/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/subscriptionPlacement/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/vnetPeering/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vnetPeering/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/vnetPeeringVwan/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vnetPeeringVwan/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/samples/minimum.sample.bicep
Labels: enhancement, hygiene, Area: Non-Resource Specific, long-term

#390 Fix #388 - Incorrect variable reference
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/logging/README.md
  infra-as-code/bicep/modules/privateDnsZones/README.md
  infra-as-code/bicep/modules/spokeNetworking/README.md
  infra-as-code/bicep/modules/vnetPeering/README.md
  infra-as-code/bicep/modules/vwanConnectivity/README.md
Labels: bug, documentation, enhancement, Area: Non-Resource Specific

#394 Fixed documentation on parLandingZoneMgChildren parameter description…
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/README.md
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/mgDiagSettingsAll.bicep
Labels: Needs: Triage :mag:

#396 Replaced DDoS Standard with DDoS Network Protection
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/README.md
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_enable_ddos_vnet.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enable_ddos_vnet.tmpl.json
  infra-as-code/bicep/modules/vwanConnectivity/README.md
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Needs: Triage :mag:, Area: Policy

#398 Resolve #386 & #330
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/mc-alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deny_public_ip.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_public_ip.tmpl.json
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.min.json
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
  infra-as-code/bicep/modules/privateDnsZones/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Area: Policy, Area: Networking

#403 Update Private DNS Zones
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/generateddocs/privateDnsZones.bicep.md
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.min.json
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
  infra-as-code/bicep/modules/privateDnsZones/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: enhancement, Area: Networking

#407 Change conditional source - Fix #406
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
Labels: bug, Area: Policy
