Repository Azure/ALZ-Bicep, pull requests merged in 2022-08, with the labels that each got.

#298 New Orchestration Module: `subPlacementAll`
  .vscode/tours/azurechinacloud-base-validation-pipeline.tour
  .vscode/tours/azurecloud-base-validation-pipeline.tour
  docs/wiki/CustomerUsage.md
  docs/wiki/DeploymentFlow.md
  infra-as-code/bicep/modules/managementGroups/README.md
  infra-as-code/bicep/modules/subscriptionPlacement/README.md
  infra-as-code/bicep/orchestration/subPlacementAll/README.md
  infra-as-code/bicep/orchestration/subPlacementAll/bicepconfig.json
  infra-as-code/bicep/orchestration/subPlacementAll/media/bicepVisualizer.png
  infra-as-code/bicep/orchestration/subPlacementAll/parameters/subPlacementAll.parameters.all.json
  infra-as-code/bicep/orchestration/subPlacementAll/parameters/subPlacementAll.parameters.min.json
  infra-as-code/bicep/orchestration/subPlacementAll/subPlacementAll.bicep
  tests/pipelines/base-unit-validate.yml
  tests/pipelines/bicep-build-to-validate.yml
  tests/pipelines/mc-base-unit-validate.yml
Labels: enhancement, Needs: Triage :mag:, Area: Management Groups, Area: Orchestration Modules

#299 Incluce encryption keySource for automation account
  infra-as-code/bicep/modules/logging/logging.bicep
Labels: Area: Logging & Automation

#252 Final updates for merge
  .github/workflows/bicep-build-to-validate.yml
  .ps-rule/Minimum.Rule.yaml
  .ps-rule/Unsupported.Rule.yaml
  ps-rule.yaml
Labels: hygiene

#305 Update geo codes for Azure Backup
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
Labels: Area: Networking

#309 Add Azure Enablement Show Videos to docs & Update FAQ RE #300
  .github/linters/.markdown-lint.yml
  README.md
  docs/wiki/DeploymentFlow.md
  docs/wiki/FAQ.md
  docs/wiki/Home.md
Labels: documentation, enhancement

#310 fixed typo in subPlacementAl
  infra-as-code/bicep/orchestration/subPlacementAll/subPlacementAll.bicep
Labels: bug, Area: Management Groups, Area: Orchestration Modules
