Repository Azure/ALZ-Bicep, pull requests merged in 2023-07, with the labels that each got.

#575 Add if (parAzBastionEnabled) to nsg create bastion
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
Labels: Area: Networking

#539 Feature addvalidation
  accelerator/.azuredevops/pipelines/alz-bicep-1.yml
  accelerator/.azuredevops/pipelines/alz-bicep-2.yml
  accelerator/.azuredevops/pipelines/alz-bicep-3.yml
  accelerator/.azuredevops/pipelines/alz-bicep-4a.yml
  accelerator/.azuredevops/pipelines/alz-bicep-4b.yml
  accelerator/.github/workflows/alz-bicep-1.yml
  accelerator/.github/workflows/alz-bicep-2.yml
  accelerator/.github/workflows/alz-bicep-3.yml
  accelerator/.github/workflows/alz-bicep-4a.yml
  accelerator/.github/workflows/alz-bicep-4b.yml
  accelerator/pipeline-scripts/Deploy-ALZConnectivityResourceGroup.ps1
  accelerator/pipeline-scripts/Deploy-ALZCustomPolicyDefinitions.ps1
  accelerator/pipeline-scripts/Deploy-ALZCustomRoleDefinitions.ps1
  accelerator/pipeline-scripts/Deploy-ALZHub-HubAndSpoke.ps1
  accelerator/pipeline-scripts/Deploy-ALZHub-VWAN.ps1
  accelerator/pipeline-scripts/Deploy-ALZLoggingAndSentinel.ps1
  accelerator/pipeline-scripts/Deploy-ALZLoggingAndSentinelResourceGroup.ps1
  accelerator/pipeline-scripts/Deploy-ALZMGDiagnosticSettings.ps1
  accelerator/pipeline-scripts/Deploy-ALZManagementGroups.ps1
  accelerator/pipeline-scripts/Deploy-ALZPolicyAssignments.ps1
  accelerator/pipeline-scripts/Deploy-ALZRoleAssignments.ps1
  accelerator/pipeline-scripts/Deploy-ALZSubscriptionPlacement.ps1
  docs/wiki/Accelerator.md
Labels: enhancement, Needs: Triage :mag:, Area: Accelerator

#582 Add CODEOWNERS & Fix Sentinel Simplified Pricing
  .github/CODEOWNERS
  infra-as-code/bicep/modules/logging/generateddocs/logging.bicep.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json
Labels: bug, enhancement, Area: Logging & Automation
