Repository Azure/ALZ-Bicep, pull requests merged in 2023-06, with the labels that each got.

#526 Option for subnet delegations
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
Labels: enhancement, Area: Networking, external community contribution

#551 Add parPlatformMgAlzDefaultsEnable parameter to policy assignment
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
Labels: enhancement, Area: Policy, Area: Management Groups, external community contribution

#543 Improved control of PrivateDnsZones beeing deployed
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/README.md
  infra-as-code/bicep/modules/privateDnsZones/generateddocs/privateDnsZones.bicep.md
  infra-as-code/bicep/modules/privateDnsZones/parameters/mc-privateDnsZones.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/parameters/mc-privateDnsZones.parameters.min.json
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
  infra-as-code/bicep/modules/vwanConnectivity/README.md
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/parameters/mc-vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: enhancement, Area: Networking

#554 Added ZT Deployment Guide
  docs/wiki/DeploymentGuideHSZT.md
  docs/wiki/Home.md
Labels: documentation, enhancement, Area: Networking

#556 Remove old dependsOn
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
Labels: enhancement, Area: Policy, external community contribution

#555 Unlink log analytics workspace and automation account
  infra-as-code/bicep/modules/logging/generateddocs/logging.bicep.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json
  infra-as-code/bicep/modules/logging/parameters/mc-logging.parameters.all.json
Labels: Area: Logging & Automation, external community contribution

#557 Update README.md for alzDefaults module
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/README.md
Labels: Needs: Triage :mag:

#559 Feature: Add LZ Child MG Flex for ALZ Default Policy Assignments & Add Release Checks
  .github/pester/release.tests.ps1
  .github/workflows/code-review.yml
  .github/workflows/release-tests.yml
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
Labels: Area: Policy, Area: Management Groups, hygiene

#563 Feature: Added documentation changes for Accelerator and Azure DevOps support
  docs/wiki/Accelerator.md
Labels: Needs: Triage :mag:

#566 Prep for v0.15.0
  version.json
Labels: hygiene

#568 Enhance Use of Bicep Linter & Simplify Config
  .github/workflows/bicep-build-to-validate.yml
  docs/wiki/Contributing.md
  infra-as-code/bicep/CRML/containerRegistry/bicepconfig.json
  infra-as-code/bicep/CRML/customerUsageAttribution/bicepconfig.json
  infra-as-code/bicep/CRML/subscriptionAlias/README.md
  infra-as-code/bicep/CRML/subscriptionAlias/bicepconfig.json
  infra-as-code/bicep/CRML/subscriptionAlias/subscriptionAlias.bicep
  infra-as-code/bicep/bicepconfig.json
  infra-as-code/bicep/modules/customRoleDefinitions/bicepconfig.json
  infra-as-code/bicep/modules/hubNetworking/bicepconfig.json
  infra-as-code/bicep/modules/logging/bicepconfig.json
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/managementGroups/bicepconfig.json
  infra-as-code/bicep/modules/mgDiagSettings/bicepconfig.json
  infra-as-code/bicep/modules/policy/assignments/bicepconfig.json
  infra-as-code/bicep/modules/policy/definitions/bicepconfig.json
  infra-as-code/bicep/modules/privateDnsZoneLinks/bicepconfig.json
  infra-as-code/bicep/modules/privateDnsZones/bicepconfig.json
  infra-as-code/bicep/modules/publicIp/bicepconfig.json
  infra-as-code/bicep/modules/resourceGroup/bicepconfig.json
  infra-as-code/bicep/modules/roleAssignments/bicepconfig.json
  infra-as-code/bicep/modules/spokeNetworking/bicepconfig.json
  infra-as-code/bicep/modules/subscriptionPlacement/bicepconfig.json
  infra-as-code/bicep/modules/vnetPeering/bicepconfig.json
  infra-as-code/bicep/modules/vnetPeeringVwan/bicepconfig.json
  infra-as-code/bicep/modules/vwanConnectivity/bicepconfig.json
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/bicepconfig.json
  infra-as-code/bicep/orchestration/subPlacementAll/bicepconfig.json
Labels: Area: Networking, hygiene, Area: Logging & Automation, Area: Non-Resource Specific

#562 Issue forms
  .github/ISSUE_TEMPLATE/bug-report-issue-form.yaml
  .github/ISSUE_TEMPLATE/feature-request-issue-form.yaml
  .github/ISSUE_TEMPLATE/general-feedback-questions-issue-form.yaml
Labels: hygiene

#569 Documentation: Added release process diagram
  docs/wiki/Contributing.md
  docs/wiki/media/alz-bicep-release-process.png
Labels: documentation, Area: Accelerator
