Repository Azure/ALZ-Bicep, pull requests merged in 2023-02, with the labels that each got.

#440 Update containerRegistry API version
  infra-as-code/bicep/CRML/containerRegistry/containerRegistry.bicep
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
Labels: bug, enhancement, Area: Networking, Area: Logging & Automation, external community contribution

#447 Updated references in the documents from docs.microsoft.com - to learn
  .github/ISSUE_TEMPLATE/bug-report---.md
  README.md
  SECURITY.md
  SUPPORT.md
  docs/wiki/ACRDeployment.md
  docs/wiki/AddingPolicyDefs.md
  docs/wiki/AssigningPolicies.md
  docs/wiki/ConsumerGuide.md
  docs/wiki/Contributing.md
  docs/wiki/CustomerUsage.md
  docs/wiki/DeploymentFlow.md
  docs/wiki/DeploymentFlowHS.md
  docs/wiki/DeploymentFlowVWAN.md
  docs/wiki/FAQ.md
  docs/wiki/Home.md
  docs/wiki/PipelinesOverview.md
  infra-as-code/bicep/CRML/customerUsageAttribution/README.md
  infra-as-code/bicep/CRML/subscriptionAlias/README.md
  infra-as-code/bicep/modules/README.md
  infra-as-code/bicep/modules/customRoleDefinitions/README.md
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/logging/README.md
  infra-as-code/bicep/modules/policy/definitions/README.md
  infra-as-code/bicep/modules/privateDnsZones/README.md
  infra-as-code/bicep/modules/roleAssignments/README.md
  infra-as-code/bicep/modules/vnetPeering/README.md
  infra-as-code/bicep/modules/vnetPeeringVwan/README.md
  infra-as-code/bicep/modules/vwanConnectivity/README.md
  infra-as-code/bicep/orchestration/hubPeeredSpoke/README.md
Labels: documentation, external community contribution

#453 Feature/param do not enforce default policies
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/mc-alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/mc-alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.all.json
Labels: enhancement, Area: Policy

#460 Add info to wiki to manually create docs
  docs/wiki/Contributing.md
Labels: documentation, enhancement, Area: Non-Resource Specific

#463 Update DeploymentFlow.md
  docs/wiki/DeploymentFlow.md
Labels: documentation, enhancement, Needs: Author Feedback, external community contribution

#455 Adding deny all rule to Azure Bastion nsg
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
Labels: enhancement, Needs: Author Feedback, Area: Networking, external community contribution

#457 CaseSensitiveDeploymentParameterNamesFound
  infra-as-code/bicep/orchestration/hubPeeredSpoke/parameters/hubPeeredSpoke.parameters.all.json
  infra-as-code/bicep/orchestration/hubPeeredSpoke/parameters/hubPeeredSpoke.vwan.parameters.all.json
Labels: bug, Area: Networking, external community contribution

#464 SSH/RDP rule name change
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
Labels: enhancement, Area: Networking, external community contribution

#462 Added Management Group Suffix Parameter parTopLevelManagementGroupSuffix
  infra-as-code/bicep/modules/managementGroups/generateddocs/managementGroups.bicep.md
  infra-as-code/bicep/modules/managementGroups/managementGroups.bicep
  infra-as-code/bicep/modules/managementGroups/parameters/managementGroups.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/mc-alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/mc-alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.all.json
  infra-as-code/bicep/orchestration/hubPeeredSpoke/README.md
  infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.bicep
  infra-as-code/bicep/orchestration/hubPeeredSpoke/parameters/hubPeeredSpoke.parameters.all.json
  infra-as-code/bicep/orchestration/hubPeeredSpoke/parameters/hubPeeredSpoke.vwan.parameters.all.json
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/README.md
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/mgDiagSettingsAll.bicep
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/parameters/mgDiagSettingsAll.parameters.all.json
  infra-as-code/bicep/orchestration/subPlacementAll/README.md
  infra-as-code/bicep/orchestration/subPlacementAll/parameters/subPlacementAll.parameters.all.json
  infra-as-code/bicep/orchestration/subPlacementAll/subPlacementAll.bicep
Labels: enhancement, Area: Management Groups, Area: Orchestration Modules, external community contribution

#456 Add support to deploy an additional VWAN hub to an existing Virtual WAN
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/parameters/mc-vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/mc-vwanConnectivity.parameters.min.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.min.json
  infra-as-code/bicep/modules/vwanConnectivity/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: enhancement, Area: Networking, external community contribution
