Repository Azure/ALZ-Bicep, pull requests merged in 2023-05, with the labels that each got.

#510 25520 - Azfw Basic SKU
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.min.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.min.json
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Area: Networking

#518 Fixes #517 by making the deployment name for the recently added module unique on the zones resource ID
  infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.bicep
Labels: bug, Area: Networking, Area: Orchestration Modules

#520 Fix deployment double loop in #519
  infra-as-code/bicep/modules/privateDnsZoneLinks/generateddocs/privateDnsZoneLinks.bicep.md
  infra-as-code/bicep/modules/privateDnsZoneLinks/privateDnsZoneLinks.bicep
  infra-as-code/bicep/modules/privateDnsZoneLinks/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/privateDnsZoneLinks/samples/generateddocs/baseline.sample.bicep.md
  infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.bicep
Labels: Area: Networking, Area: Orchestration Modules

#513 add option to set NSG and UDR on subnets in hub-vnet
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.min.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.min.json
Labels: Area: Networking, external community contribution

#507 Accelerator documentation for v0.14.0 release
  README.md
  docs/wiki/Accelerator.md
  docs/wiki/ConsumerGuide.md
  docs/wiki/Home.md
  docs/wiki/_Sidebar.md
Labels: documentation, Area: Accelerator

#521 Minor Tweaks
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/logging/generateddocs/logging.bicep.md
  infra-as-code/bicep/modules/logging/logging.bicep
Labels: Area: Networking, Area: Logging & Automation

#524 Update parameter descriptions and typos
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.min.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.min.json
  infra-as-code/bicep/orchestration/hubPeeredSpoke/generateddocs/hubPeeredSpoke.bicep.md
  infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.bicep
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/generateddocs/mgDiagSettingsAll.bicep.md
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/mgDiagSettingsAll.bicep
  infra-as-code/bicep/orchestration/subPlacementAll/generateddocs/subPlacementAll.bicep.md
  infra-as-code/bicep/orchestration/subPlacementAll/subPlacementAll.bicep
Labels: hygiene

#503 Accelerator Pipelines for Azure Devops
  accelerator/.azuredevops/pipelines/alz-bicep-1.yml
  accelerator/.azuredevops/pipelines/alz-bicep-2.yml
  accelerator/.azuredevops/pipelines/alz-bicep-3.yml
  accelerator/.azuredevops/pipelines/alz-bicep-4a.yml
  accelerator/.azuredevops/pipelines/alz-bicep-4b.yml
  accelerator/.azuredevops/pipelines/alz-bicep-pr-1.yml
  accelerator/.azuredevops/pipelines/alz-bicep-pr-2.yml
Labels: enhancement, Needs: Triage :mag:, long-term, Area: Accelerator

#542 Fix doc for module outputs
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/privateDnsZones/README.md
Labels: documentation
