Repository Azure/ALZ-Bicep, pull requests merged in 2023-11, with the labels that each got.

#674 Add `type` element to contributing-wiki
  docs/wiki/Contributing.md
Labels: Needs: Author Feedback

#677 Automation account public network access option
  infra-as-code/bicep/modules/logging/generateddocs/logging.bicep.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json
  infra-as-code/bicep/modules/logging/parameters/mc-logging.parameters.all.json
Labels: enhancement, Area: Logging & Automation

#679 Add installation of ALZ Powershell module for policy scripts
  .github/scripts/Invoke-PolicyToBicep-China.ps1
  .github/scripts/Invoke-PolicyToBicep.ps1
  .github/workflows/update-policy-china.yml
Labels: bug, Area: Policy

#656 Added several user defined types, ability for custom resources names in vwanConnectivity and mgDiagSettings
  .github/workflows/bicep-build-to-validate.yml
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/logging/generateddocs/logging.bicep.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json
  infra-as-code/bicep/modules/logging/parameters/mc-logging.parameters.all.json
  infra-as-code/bicep/modules/mgDiagSettings/generateddocs/mgDiagSettings.bicep.md
  infra-as-code/bicep/modules/mgDiagSettings/mgDiagSettings.bicep
  infra-as-code/bicep/modules/mgDiagSettings/parameters/mgDiagSettings.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/policyAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/vwanConnectivity/README.md
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/generateddocs/mgDiagSettingsAll.bicep.md
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/mgDiagSettingsAll.bicep
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/parameters/mgDiagSettingsAll.parameters.all.json
Labels: external community contribution

#692 docs: update for new accelerator update process
  docs/wiki/Accelerator.md
Labels: documentation

#690 Incorporate availability zone param file for hubNetworking module
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.az.all.json
Labels: enhancement, Needs: Attention :wave:, Area: Networking
