Repository Azure/ALZ-Bicep, pull requests merged in 2023-01, with the labels that each got.

#421 Issue #410 - Remove default values from parameter descriptions
  infra-as-code/bicep/modules/customRoleDefinitions/customRoleDefinitions.bicep
  infra-as-code/bicep/modules/customRoleDefinitions/generateddocs/customRoleDefinitions.bicep.md
  infra-as-code/bicep/modules/customRoleDefinitions/generateddocs/mc-customRoleDefinitions.bicep.md
  infra-as-code/bicep/modules/customRoleDefinitions/mc-customRoleDefinitions.bicep
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/managementGroups/generateddocs/managementGroups.bicep.md
  infra-as-code/bicep/modules/managementGroups/managementGroups.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/mc-alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/mc-alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/generateddocs/policyAssignmentManagementGroup.bicep.md
  infra-as-code/bicep/modules/policy/assignments/policyAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/policy/definitions/customPolicyDefinitions.bicep
  infra-as-code/bicep/modules/policy/definitions/generateddocs/customPolicyDefinitions.bicep.md
  infra-as-code/bicep/modules/policy/definitions/generateddocs/mc-customPolicyDefinitions.bicep.md
  infra-as-code/bicep/modules/policy/definitions/mc-customPolicyDefinitions.bicep
  infra-as-code/bicep/modules/privateDnsZones/generateddocs/privateDnsZones.bicep.md
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
  infra-as-code/bicep/modules/publicIp/generateddocs/publicIp.bicep.md
  infra-as-code/bicep/modules/publicIp/publicIp.bicep
  infra-as-code/bicep/modules/resourceGroup/generateddocs/resourceGroup.bicep.md
  infra-as-code/bicep/modules/resourceGroup/resourceGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentManagementGroup.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentManagementGroupMany.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentSubscription.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentSubscriptionMany.bicep.md
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentManagementGroupMany.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentSubscription.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentSubscriptionMany.bicep
  infra-as-code/bicep/modules/spokeNetworking/generateddocs/spokeNetworking.bicep.md
  infra-as-code/bicep/modules/spokeNetworking/spokeNetworking.bicep
  infra-as-code/bicep/modules/subscriptionPlacement/generateddocs/subscriptionPlacement.bicep.md
  infra-as-code/bicep/modules/subscriptionPlacement/subscriptionPlacement.bicep
  infra-as-code/bicep/modules/vnetPeering/generateddocs/vnetPeering.bicep.md
  infra-as-code/bicep/modules/vnetPeering/vnetPeering.bicep
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: bug, documentation, Area: Non-Resource Specific

#419 Issue #416 - Link description in policy definitions for China
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/logging/README.md
  infra-as-code/bicep/modules/managementGroups/README.md
  infra-as-code/bicep/modules/mgDiagSettings/README.md
  infra-as-code/bicep/modules/policy/assignments/README.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/README.md
  infra-as-code/bicep/modules/policy/definitions/README.md
  infra-as-code/bicep/modules/privateDnsZones/README.md
  infra-as-code/bicep/modules/publicIp/README.md
  infra-as-code/bicep/modules/resourceGroup/README.md
  infra-as-code/bicep/modules/roleAssignments/README.md
  infra-as-code/bicep/modules/spokeNetworking/README.md
  infra-as-code/bicep/modules/subscriptionPlacement/README.md
  infra-as-code/bicep/modules/vnetPeering/README.md
  infra-as-code/bicep/modules/vwanConnectivity/README.md
Labels: documentation

#427 Bug: Generated Values in _policyAssignmentsBicepInput.txt are incorrect
  .github/scripts/Invoke-PolicyToBicep-China.ps1
  .github/scripts/Invoke-PolicyToBicep.ps1
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deny_appgw_without_waf.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deny_public_endpoints.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deny_rdp_from_internet.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deny_subnet_without_nsg.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deny_subnet_without_udr.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deploy_mdfc_config.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deploy_private_dns_zones.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_deploy_resource_diag.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/china/policy_assignments/policy_assignment_es_enforce_tls_ssl.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_appgw_without_waf.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_databricks_public_ip.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_databricks_sku.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_databricks_vnet.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_public_endpoints.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_rdp_from_internet.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_subnet_without_nsg.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deny_subnet_without_udr.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deploy_mdfc_config.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deploy_private_dns_zones.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deploy_resource_diag.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_tls_ssl.tmpl.json
Labels: bug, Area: Policy

#434 feat: Added role assignment support for RGs
  infra-as-code/bicep/modules/policy/assignments/generateddocs/policyAssignmentManagementGroup.bicep.md
  infra-as-code/bicep/modules/policy/assignments/parameters/mc-policyAssignmentManagementGroup.dine.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/parameters/policyAssignmentManagementGroup.deny.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/parameters/policyAssignmentManagementGroup.dine.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/policyAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/README.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentResourceGroup.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentResourceGroupMany.bicep.md
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroup.managedIdentity.parameters.all.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroup.managedIdentity.parameters.min.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroup.securityGroup.parameters.all.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroup.securityGroup.parameters.min.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroup.servicePrincipal.parameters.all.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroup.servicePrincipal.parameters.min.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroupMany.managedIdentity.parameters.all.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroupMany.managedIdentity.parameters.min.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroupMany.securityGroup.parameters.all.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroupMany.securityGroup.parameters.min.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroupMany.servicePrincipal.parameters.all.json
  infra-as-code/bicep/modules/roleAssignments/parameters/roleAssignmentResourceGroupMany.servicePrincipal.parameters.min.json
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentResourceGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentResourceGroupMany.bicep
Labels: enhancement, Area: Policy, Area: RBAC

#437 Consistent punctuation and small typos
  docs/wiki/DeploymentFlow.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/mc-alzDefaultPolicyAssignments.bicep
Labels: documentation, Area: Non-Resource Specific, external community contribution

#433 added parAutomationAccountUseManagedIdentity parameter
  .ps-rule/ManagedIdentityForAutomation.Rule.yaml
  infra-as-code/bicep/modules/logging/generateddocs/logging.bicep.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json
  infra-as-code/bicep/modules/logging/parameters/mc-logging.parameters.all.json
  infra-as-code/bicep/modules/logging/samples/baseline.sample.bicep
Labels: enhancement, Area: Logging & Automation
