Repository Azure/ALZ-Bicep, pull requests merged in 2023-04, with the labels that each got.

#487 26294: Accelerator Pipeline Adjustments
  accelerator/.github/workflows/alz-bicep-1.yml
  accelerator/.github/workflows/alz-bicep-2.yml
  accelerator/.github/workflows/alz-bicep-3.yml
  accelerator/.github/workflows/alz-bicep-4a.yml
  accelerator/.github/workflows/alz-bicep-4b.yml
  accelerator/.github/workflows/alz-bicep-pr-1.yml
  accelerator/pipeline-scripts/Deploy-ALZHub-HubAndSpoke.ps1
  accelerator/pipeline-scripts/Deploy-ALZHub-VWAN.ps1
  accelerator/pipeline-scripts/Deploy-ALZLoggingAndSentinel.ps1
Labels: enhancement, hygiene, Area: Non-Resource Specific

#488 26294: Accelerator - Add ability to import env file and minor fixes
  accelerator/.github/workflows/alz-bicep-1.yml
  accelerator/.github/workflows/alz-bicep-2.yml
  accelerator/.github/workflows/alz-bicep-3.yml
  accelerator/.github/workflows/alz-bicep-4a.yml
  accelerator/.github/workflows/alz-bicep-4b.yml
  accelerator/pipeline-scripts/Deploy-ALZHub-HubAndSpoke.ps1
  accelerator/pipeline-scripts/Deploy-ALZHub-VWAN.ps1
  accelerator/pipeline-scripts/Deploy-ALZLoggingAndSentinel.ps1
Labels: Needs: Triage :mag:

#493 hubNetwork: Dynamic prefix and suffix for Public IPs
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
Labels: enhancement, Area: Networking, external community contribution

#494 New parameter for Alzdefaults exclusions
  docs/wiki/AssigningPolicies.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.all.json
Labels: enhancement, Area: Policy, external community contribution

#496 26016 - Feature - Child Landing Zone Management Groups Flexibility
  infra-as-code/bicep/modules/managementGroups/README.md
  infra-as-code/bicep/modules/managementGroups/generateddocs/managementGroups.bicep.md
  infra-as-code/bicep/modules/managementGroups/managementGroups.bicep
  infra-as-code/bicep/modules/managementGroups/parameters/managementGroups.parameters.all.json
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/README.md
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/generateddocs/mgDiagSettingsAll.bicep.md
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/mgDiagSettingsAll.bicep
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/parameters/mgDiagSettingsAll.parameters.all.json
  infra-as-code/bicep/orchestration/subPlacementAll/README.md
  infra-as-code/bicep/orchestration/subPlacementAll/generateddocs/subPlacementAll.bicep.md
  infra-as-code/bicep/orchestration/subPlacementAll/parameters/subPlacementAll.parameters.all.json
  infra-as-code/bicep/orchestration/subPlacementAll/subPlacementAll.bicep
Labels: enhancement, Area: Management Groups

#501 Remove Service map from LogAnalyticsWorskpace Solutions
  infra-as-code/bicep/modules/logging/README.md
  infra-as-code/bicep/modules/logging/generateddocs/logging.bicep.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.min.json
  infra-as-code/bicep/modules/logging/parameters/mc-logging.parameters.all.json
  infra-as-code/bicep/modules/logging/parameters/mc-logging.parameters.min.json
  infra-as-code/bicep/modules/logging/samples/baseline.sample.bicep
Labels: enhancement, Area: Logging & Automation

#497 Accelerator Documentation and remove hard-coded rg values
  accelerator/README.md
  accelerator/pipeline-scripts/Deploy-ALZHub-HubAndSpoke.ps1
  accelerator/pipeline-scripts/Deploy-ALZHub-VWAN.ps1
  accelerator/pipeline-scripts/Deploy-ALZLoggingAndSentinel.ps1
  docs/wiki/Accelerator.md
  docs/wiki/ConsumerGuide.md
  docs/wiki/Home.md
  docs/wiki/_Sidebar.md
  docs/wiki/media/alz-bicep-accelerator-branching-strategy-diagram.png
  docs/wiki/media/alz-bicep-accelerator-tree-output.png
Labels: enhancement

#506 Remove accelerator doc temporarily
  docs/wiki/Accelerator.md
  docs/wiki/ConsumerGuide.md
  docs/wiki/_Sidebar.md
Labels: Needs: Triage :mag:

#502 Nested deployments should get passed the value for parTelemetryOptOut
  infra-as-code/bicep/modules/policy/assignments/policyAssignmentManagementGroup.bicep
  infra-as-code/bicep/orchestration/mgDiagSettingsAll/mgDiagSettingsAll.bicep
  infra-as-code/bicep/orchestration/subPlacementAll/subPlacementAll.bicep
Labels: bug, enhancement, Area: Orchestration Modules

#508 ADO 27172 - Add Zero Trust Networking Telemetry - Phase 1
  docs/wiki/CustomerUsage.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: enhancement, Area: Policy, Area: Networking, Area: Non-Resource Specific

#511 remove unused duplicate `asn` property
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.min.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.min.json
Labels: Area: Networking, external community contribution
