Repository Azure/ALZ-Bicep, pull requests merged in 2024-07, with the labels that each got.

#810 Add DdosEnabled toggle and fix logic modPolicyAssignmentConnEnableDdos
  docs/wiki/Accelerator.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.min.json
Labels: Area: Networking :globe_with_meridians:, Area: Policy :pencil:, Type: Bug :beetle:

#809 Bug: Several hygiene fixes and/or cleanup
  .github/PULL_REQUEST_TEMPLATE.md
  .github/policies/resourceManagement.yml
  version.json
Labels: Type: Bug :beetle:, Type: Hygiene :broom:

#801 bug: Fix deploymentnames in pipeline-scripts to max 64 char
  accelerator/pipeline-scripts/Deploy-ALZConnectivityResourceGroup.ps1
  accelerator/pipeline-scripts/Deploy-ALZCustomPolicyDefinitions.ps1
  accelerator/pipeline-scripts/Deploy-ALZCustomRoleDefinitions.ps1
  accelerator/pipeline-scripts/Deploy-ALZHub-HubAndSpoke.ps1
  accelerator/pipeline-scripts/Deploy-ALZHub-VWAN.ps1
  accelerator/pipeline-scripts/Deploy-ALZLoggingAndSentinel.ps1
  accelerator/pipeline-scripts/Deploy-ALZLoggingAndSentinelResourceGroup.ps1
  accelerator/pipeline-scripts/Deploy-ALZMGDiagnosticSettings.ps1
  accelerator/pipeline-scripts/Deploy-ALZManagementGroups.ps1
  accelerator/pipeline-scripts/Deploy-ALZPolicyAssignments.ps1
  accelerator/pipeline-scripts/Deploy-ALZRoleAssignments.ps1
  accelerator/pipeline-scripts/Deploy-ALZSubscriptionPlacement.ps1
  docs/wiki/AzureMonitorBaselineAlerts.md
  docs/wiki/Resiliency.md
  infra-as-code/bicep/CRML/containerRegistry/README.md
  infra-as-code/bicep/CRML/subscriptionAlias/README.md
  infra-as-code/bicep/modules/customRoleDefinitions/README.md
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/logging/README.md
  infra-as-code/bicep/modules/managementGroups/README.md
  infra-as-code/bicep/modules/mgDiagSettings/README.md
  infra-as-code/bicep/modules/policy/assignments/README.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/README.md
  infra-as-code/bicep/modules/policy/definitions/README.md
  infra-as-code/bicep/modules/privateDnsZones/README.md
  infra-as-code/bicep/modules/roleAssignments/README.md
  infra-as-code/bicep/modules/spokeNetworking/README.md
  infra-as-code/bicep/modules/subscriptionPlacement/README.md
  infra-as-code/bicep/modules/vnetPeering/README.md
  infra-as-code/bicep/modules/vnetPeeringVwan/README.md
  infra-as-code/bicep/modules/vwanConnectivity/README.md
  infra-as-code/bicep/orchestration/hubPeeredSpoke/README.md
  infra-as-code/bicep/orchestration/subPlacementAll/README.md
Labels: Type: Bug :beetle:

#811 Sentinel onboarding via OnboardingStates API
  infra-as-code/bicep/modules/logging/logging.bicep
Labels: Area: Logging & Automation :camera:, Type: Bug :beetle:

#805 [vwanConnectivity] Refactor to support multi-region hubs
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/parameters/mc-vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/mc-vwanConnectivity.parameters.min.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.az.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.min.json
  infra-as-code/bicep/modules/vwanConnectivity/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Area: Networking :globe_with_meridians:, Type: Bug :beetle:

#793 Enhancement: Remove secret references for login
  .github/azFunction/azure-pipelines/deploy-functions.yml
  accelerator/.github/workflows/alz-bicep-1-core.yml
  accelerator/.github/workflows/alz-bicep-2-policyassignments.yml
  accelerator/.github/workflows/alz-bicep-3-subplacement.yml
  accelerator/.github/workflows/alz-bicep-4a-hubspoke.yml
  accelerator/.github/workflows/alz-bicep-4b-vwan.yml
  docs/wiki/PipelinesGitHub.md
  tests/pipelines/base-unit-validate.yml
  tests/pipelines/bicep-build-to-validate.yml
  tests/pipelines/mc-base-unit-validate.yml
Labels: Type: Hygiene :broom:

#804 ALZ bicep modules multi-region guidance
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/hubNetworking/media/exampleDeploymentOutputEastus.png
  infra-as-code/bicep/modules/hubNetworking/media/exampleDeploymentOutputwestus.png
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.az.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/README.md
Labels: Area: Networking :globe_with_meridians:, Type: Documentation :page_facing_up:

#799 Implement bicep bootstrap
  README.md
  accelerator/.config/ALZ-Powershell-Auto.config.json
  accelerator/scripts/destroy-landing-zone.ps1
  accelerator/test_modules/managementGroup/managementGroup.bicep
  accelerator/test_modules/managementGroup/parameters/managementGroup.parameters.all.json
  docs/wiki/Accelerator.md
  infra-as-code/bicep/modules/README.md
  version.json
Labels: Area: Accelerator :zap:

#814 fix: rename private DNS zone privatelink.dp.kubernetesconfiguration.azure.com
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.az.all.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_audit_pednszones.tmpl.json
  infra-as-code/bicep/modules/policy/definitions/lib/policy_definitions/policy_definition_es_Audit-PrivateLinkDnsZones.json
  infra-as-code/bicep/modules/privateDnsZones/generateddocs/privateDnsZones.bicep.md
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZones/parameters/privateDnsZones.parameters.min.json
  infra-as-code/bicep/modules/privateDnsZones/privateDnsZones.bicep
  infra-as-code/bicep/modules/privateDnsZones/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.az.all.json
  infra-as-code/bicep/modules/vwanConnectivity/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Area: Networking :globe_with_meridians:, Type: Bug :beetle:
