Repository Azure/ALZ-Bicep, pull requests merged in 2024-09, with the labels that each got.

#831 Condensed descriptions and add known issue
  docs/wiki/KnownIssues.md
  infra-as-code/bicep/modules/policy/assignments/README.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentManagementGroup.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentManagementGroupMany.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentResourceGroup.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentResourceGroupMany.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentSubscription.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentSubscriptionMany.bicep.md
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentManagementGroupMany.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentResourceGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentResourceGroupMany.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentSubscription.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentSubscriptionMany.bicep
Labels: Area: Policy :pencil:, Type: Bug :beetle:

#849 hygiene: Add semantic versioning
  .github/workflows/pr-title-check.yml
Labels: Type: Hygiene :broom:

#853 fix: Reduce descriptions further
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/generateddocs/policyAssignmentManagementGroup.bicep.md
  infra-as-code/bicep/modules/policy/assignments/policyAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentManagementGroup.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentManagementGroupMany.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentSubscription.bicep.md
  infra-as-code/bicep/modules/roleAssignments/generateddocs/roleAssignmentSubscriptionMany.bicep.md
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentManagementGroupMany.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentSubscription.bicep
  infra-as-code/bicep/modules/roleAssignments/roleAssignmentSubscriptionMany.bicep
Labels: Area: Policy :pencil:

#854 feat: Add SNAT property to firewall resources
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Area: Networking :globe_with_meridians:

#861 fix: Fix hubNetworking module output when DDoS is disabled
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
Labels: Area: Networking :globe_with_meridians:, Type: Bug :beetle:

#863 fix: General networking fixes and add active-active capability for vnet gateway
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Area: Networking :globe_with_meridians:, Type: Bug :beetle:

#857 feat: Multi region support for accelerator
  accelerator/.config/ALZ-Powershell-Auto.config.json
  infra-as-code/bicep/modules/hubNetworking/README.md
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking-multiRegion.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking-multiRegion.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.az.multiRegion.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.az.multiRegion.all.json
Labels: Area: Networking :globe_with_meridians:
