Repository Azure/ALZ-Bicep, pull requests merged in 2025-01, with the labels that each got.

#931 feat: Add SQL ATP status stream to DCR
  infra-as-code/bicep/modules/logging/logging.bicep
Labels: Area: Policy :pencil:, auto-merge :heavy_check_mark:

#921 refactor: Allow option to specify virtual network gateway ip configuration names
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking-multiRegion.bicep.md
  infra-as-code/bicep/modules/hubNetworking/generateddocs/hubNetworking.bicep.md
  infra-as-code/bicep/modules/hubNetworking/hubNetworking-multiRegion.bicep
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.az.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.az.multiRegion.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.min.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.all.json
  infra-as-code/bicep/modules/hubNetworking/parameters/mc-hubNetworking.parameters.min.json
Labels: Area: Networking :globe_with_meridians:, auto-merge :heavy_check_mark:

#933 fix: Add missing DNS zones to policy assignment
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
Labels: Area: Policy :pencil:, Type: Bug :beetle:

#934 chore: Update version.json
  version.json
Labels: Type: Hygiene :broom:

#940 docs: Update Accelerator links
  README.md
  docs/wiki/Accelerator.md
  docs/wiki/AzureMonitorBaselineAlerts.md
  docs/wiki/ClassicAccelerator.md
Labels: Type: Documentation :page_facing_up:

#946 fix: Adding missing permissions for AMA policies
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
Labels: Area: Policy :pencil:, auto-merge :heavy_check_mark:, Type: Bug :beetle:

#945 chore: Update apiversions
  infra-as-code/bicep/CRML/containerRegistry/containerRegistry.bicep
  infra-as-code/bicep/modules/hubNetworking/hubNetworking-multiRegion.bicep
  infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/policy/assignments/policyAssignmentManagementGroup.bicep
  infra-as-code/bicep/modules/publicIp/publicIp.bicep
  infra-as-code/bicep/modules/resourceGroup/resourceGroup.bicep
  infra-as-code/bicep/modules/spokeNetworking/spokeNetworking.bicep
  infra-as-code/bicep/modules/vnetPeering/vnetPeering.bicep
  infra-as-code/bicep/modules/vnetPeeringVwan/hubVirtualNetworkConnection.bicep
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Type: Feature Request :heavy_plus_sign:
