Repository Azure/ALZ-Bicep, pull requests merged in 2025-03, with the labels that each got.

#971 fix: Remove default security contact email and correct TLS assignment
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.min.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_deploy_mdfc_config.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_tls_ssl.tmpl.json
Labels: Area: Policy :pencil:, Type: Bug :beetle:

#962 feat: add fallbacktointernet for dns zone
  infra-as-code/bicep/modules/privateDnsZoneLinks/generateddocs/privateDnsZoneLinks.bicep.md
  infra-as-code/bicep/modules/privateDnsZoneLinks/parameters/privateDnsZoneLinks.parameters.all.json
  infra-as-code/bicep/modules/privateDnsZoneLinks/privateDnsZoneLinks.bicep
Labels: Area: Networking :globe_with_meridians:

#975 refactor: Separation of policy assignments module to avoid hitting ARM size limit and include workload specific policy assignments
  accelerator/.config/ALZ-Powershell-Auto.config.json
  docs/wiki/AddingPolicyDefs.md
  docs/wiki/AssigningPolicies.md
  docs/wiki/DeploymentFlow.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_encryption_cmk.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_apim.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_appservices.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_automation.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_botservice.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_cognitiveservices.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_compute.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_containerapps.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_containerinstance.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_containerregistry.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_cosmosdb.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_dataexplorer.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_datafactory.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_eventgrid.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_eventhub.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_keyvault.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_keyvault_sup.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_kubernetes.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_machinelearning.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_mysql.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_network.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_openai.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_postgressql.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_servicebus.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_sql.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_storage.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_synapse.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments/policy_assignment_es_enforce_gr_virtualdesktop.tmpl.json
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/README.md
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/bicepconfig.json
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/generateddocs/workloadSpecificPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/media/bicepVisualizer.png
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/parameters/workloadSpecificPolicyAssignments.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/parameters/workloadSpecificPolicyAssignments.parameters.min.json
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/workloadSpecificPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/definitions/lib/policy_set_definitions/policy_set_definition_es_Enforce-Encryption-CMK_20250218.json
  tests/pipelines/base-unit-validate.yml
  tests/pipelines/bicep-build-to-validate.yml
Labels: Area: Policy :pencil:, Type: Enhancement :sparkles:

#980 refactor: Disable automation account by default
  infra-as-code/bicep/modules/logging/generateddocs/logging.bicep.md
  infra-as-code/bicep/modules/logging/logging.bicep
  infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json
Labels: Area: Logging & Automation :camera:, auto-merge :heavy_check_mark:

#983 feat: Add option to change vwan type
  infra-as-code/bicep/modules/vwanConnectivity/generateddocs/vwanConnectivity.bicep.md
  infra-as-code/bicep/modules/vwanConnectivity/parameters/mc-vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.az.all.json
  infra-as-code/bicep/modules/vwanConnectivity/parameters/vwanConnectivity.parameters.az.multiRegion.all.json
  infra-as-code/bicep/modules/vwanConnectivity/vwanConnectivity.bicep
Labels: Area: Networking :globe_with_meridians:

#987 feat: add ability to override `varManagementGroupIds` values in `alzDefaultPolicyAssignments.bicep` & `workloadSpecificPolicyAssignments.bicep` to support rename of ALZ default MGs and fix #986
  infra-as-code/bicep/modules/managementGroups/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/managementGroups/samples/minimum.sample.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/generateddocs/alzDefaultPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/generateddocs/workloadSpecificPolicyAssignments.bicep.md
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/parameters/workloadSpecificPolicyAssignments.parameters.all.json
  infra-as-code/bicep/modules/policy/assignments/workloadSpecific/workloadSpecificPolicyAssignments.bicep
  infra-as-code/bicep/modules/policy/samples/baseline.policy.sample.bicep
  infra-as-code/bicep/modules/policy/samples/baseline.sample.bicep
  infra-as-code/bicep/modules/policy/samples/minimum.policy.sample.bicep
  infra-as-code/bicep/modules/policy/samples/minimum.sample.bicep
Labels: Type: Enhancement :sparkles:, Type: Feature Request :heavy_plus_sign:
